<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Capstone Project: Predicting Fentanyl Presence In <br> Accidental Drug Overdose Deaths In Connecticut, USA

### Contents:
#### Part 2 (of 5)
- Keywords
- Background
- Problem Statement
- Target Audience
- Objectives
- [Data Wrangling](#Data-Wrangling)
- Exploration & Visualisation
- Pre-Processing & Modelling
- Results & Discussion
- Recommendations
- Conclusion
- References

## Data Wrangling

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max.columns', None)
pd.set_option('display.max.colwidth', 100)

### Data Sources

The following datasets were used:

* [`accidental_drug_related_deaths_2012_2020.csv`](../data/accidental_drug_related_deaths_2012_2020.csv): Accidental Drug-Related Deaths In Connecticut (2012-2020) Dataset

> This dataset contains a listing of each accidental death associated with drug overdose in Connecticut from 2012 to 2020. It has 7,679 rows and 42 columns. It holds information on each victim's age, sex, race, county of death, city of death, place of death, cause of death, other significant conditions, overdosed drugs, etc. It was obtained from the Connecticut state government website over [here](https://data.ct.gov/Health-and-Human-Services/Accidental-Drug-Related-Deaths-2012-2020/rybz-nyjw). A separate detailed description of the variables in the dataset can be found [here](https://code.datasciencedojo.com/khanh_quang/datasets/tree/master/Accidental%20Drug%20Related%20Deaths%20in%20Connecticut,%20US).

<details>

<summary>(click here to show a brief description of the dataset)</summary>
    
**Accidental Drug Related Deaths 2012-2020**

A listing of each accidental death associated with drug overdose in Connecticut from 2012 to 2020.

A "Y" value under the different substance columns indicates that particular substance was detected. Data are derived from an investigation by the Office of the Chief Medical Examiner which includes the toxicity report, death certificate, as well as a scene investigation.

The “Morphine (Not Heroin)” values are related to the differences between how Morphine and Heroin are metabolized and therefor detected in the toxicity results. Heroin metabolizes to 6-MAM which then metabolizes to morphine. 6-MAM is unique to heroin, and has a short half-life (as does heroin itself). Thus, in some heroin deaths, the toxicity results will not indicate whether the morphine is from heroin or prescription morphine. In these cases the Medical Examiner may be able to determine the cause based on the scene investigation (such as finding heroin needles). If they find prescription morphine at the scene it is certified as “Morphine (not heroin).” Therefor, the Cause of Death may indicate Morphine, but the Heroin or Morphine (Not Heroin) may not be indicated.

</details><br>

* [`connecticut.csv`](../data/connecticut.csv): Cities And Counties In Connecticut (2021) Dataset

> This dataset contains a listing of the cities and counties in Connecticut in 2021. It was obtained from the Connecticut state library website over [here](https://ctstatelibrary.org/cttowns/counties).

### Data Importing

In [2]:
# import raw dataset
df = pd.read_csv('../data/accidental_drug_related_deaths_2012_2020.csv')

### Data Cleaning

In [3]:
# check out first 5 rows
df.head()

,ID,Date,Date Type,Age,Sex,Race,Residence City,Residence County,Residence State,Death City,Death County,Location,Location if Other,Description of Injury,Injury Place,Injury City,Injury County,Injury State,Cause of Death,Other Significant Conditions,Heroin,Cocaine,Fentanyl,Fentanyl Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad,Morphine (Not Heroin),Hydromorphone,Xylazine,Other,Opiate NOS,Any Opioid,Manner of Death,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,12-0187,07/17/2012,DateofDeath,34.0,Female,White,MAHOPAC,PUTNAM,NaN,DANBURY,FAIRFIELD,Park/Street,NaN,Huffed Propellant,Other,NaN,NaN,NaN,"1,1-Difluoroethane Toxicity",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Duster,NaN,NaN,Accident,"DANBURY, CT\n(41.393666, -73.451539)",NaN,"CT\n(41.575155, -72.738288)"
1,12-0258,10/1/2012,DateofDeath,51.0,Male,White,PORTLAND,MIDDLESEX,NaN,PORTLAND,MIDDLESEX,Residence,NaN,Injection,Residence,NaN,NaN,NaN,Heroin Toxicity,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"PORTLAND, CT\n(41.581345, -72.634112)","PORTLAND, CT\n(41.581345, -72.634112)","CT\n(41.575155, -72.738288)"
2,13-0146,04/28/2013,DateofDeath,28.0,Male,White,NaN,NaN,NaN,HARTFORD,HARTFORD,Hospital,NaN,Substance Abuse,Other,NaN,NaN,NaN,Acute Heroin Toxicity,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"HARTFORD, CT\n(41.765775, -72.673356)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
3,14-0150,4/6/2014,DateofDeath,46.0,Male,White,WATERBURY,NaN,NaN,TORRINGTON,LITCHFIELD,Residence,NaN,Injection,Other,NaN,NaN,NaN,Heroin and Cocaine Intoxication,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"TORRINGTON, CT\n(41.812186, -73.101552)","WATERBURY, CT\n(41.554261, -73.043069)","CT\n(41.575155, -72.738288)"
4,14-0183,04/27/2014,DateofDeath,52.0,Male,White,NEW LONDON,NaN,NaN,NEW LONDON,NEW LONDON,Hospital,NaN,Substance Abuse,Unknown,NaN,NaN,NaN,Acute Heroin Intoxication,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"NEW LONDON, CT\n(41.355167, -72.099561)","NEW LONDON, CT\n(41.355167, -72.099561)","CT\n(41.575155, -72.738288)"

In [4]:
# check out shape
df.shape

(7679, 42)

In [5]:
# rename columns
df.columns = ['ID', 'Date', 'Date_Type', 'Age', 'Sex', 'Race', 
              'Residence_City', 'Residence_County', 'Residence_State', 
              'Death_City', 'Death_County', 'Death_Place', 'Death_Place_Other', 
              'Injury_Description', 'Injury_Place', 'Injury_City', 'Injury_County', 'Injury_State', 
              'Death_Cause', 'Other_Significant_Conditions', 
              'Heroin', 'Cocaine', 'Fentanyl', 'Any_Fentanyl_Analogue', 'Oxycodone', 'Oxymorphone', 
              'Ethanol', 'Hydrocodone', 'Any_Benzodiazepine', 'Methadone', 'Any_Amphetamine', 'Tramadol', 
              'Morphine_Not_Heroin', 'Hydromorphone', 'Xylazine', 'Other_Drug', 'Any_Opiate', 'Any_Opioid', 
              'Death_Manner', 'Death_City_Geo', 'Residence_City_Geo', 'Injury_City_Geo']

In [6]:
# check out columns
df.head(0)

Empty DataFrame
Columns: [ID, Date, Date_Type, Age, Sex, Race, Residence_City, Residence_County, Residence_State, Death_City, Death_County, Death_Place, Death_Place_Other, Injury_Description, Injury_Place, Injury_City, Injury_County, Injury_State, Death_Cause, Other_Significant_Conditions, Heroin, Cocaine, Fentanyl, Any_Fentanyl_Analogue, Oxycodone, Oxymorphone, Ethanol, Hydrocodone, Any_Benzodiazepine, Methadone, Any_Amphetamine, Tramadol, Morphine_Not_Heroin, Hydromorphone, Xylazine, Other_Drug, Any_Opiate, Any_Opioid, Death_Manner, Death_City_Geo, Residence_City_Geo, Injury_City_Geo]
Index: []

In [7]:
# check for duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [ID, Date, Date_Type, Age, Sex, Race, Residence_City, Residence_County, Residence_State, Death_City, Death_County, Death_Place, Death_Place_Other, Injury_Description, Injury_Place, Injury_City, Injury_County, Injury_State, Death_Cause, Other_Significant_Conditions, Heroin, Cocaine, Fentanyl, Any_Fentanyl_Analogue, Oxycodone, Oxymorphone, Ethanol, Hydrocodone, Any_Benzodiazepine, Methadone, Any_Amphetamine, Tramadol, Morphine_Not_Heroin, Hydromorphone, Xylazine, Other_Drug, Any_Opiate, Any_Opioid, Death_Manner, Death_City_Geo, Residence_City_Geo, Injury_City_Geo]
Index: []

In [8]:
# drop duplicates
print('Shape Before Dropping Duplicates:', df.shape)
df.drop_duplicates(ignore_index=True, inplace=True)
print('Shape After Dropping Duplicates:', df.shape)

Shape Before Dropping Duplicates: (7679, 42)
Shape After Dropping Duplicates: (7679, 42)

In [9]:
# drop unnecessary columns
df.drop(columns=['ID', 'Date_Type', 'Death_Manner', 'Death_Place_Other', 
                 'Residence_City', 'Residence_County', 'Residence_State', 'Residence_City_Geo', 
                 'Injury_City', 'Injury_County', 'Injury_State', 'Injury_City_Geo', 'Injury_Description',
                 'Any_Opiate'], inplace=True)

In [10]:
# count values in sex column
df['Sex'].value_counts()

Male       5711
Female     1956
Unknown       1
Name: Sex, dtype: int64

In [11]:
# drop rows with unknown sex
print('Shape Before Dropping Unknown Sex:', df.shape)
df = df[df['Sex'] != 'Unknown']
df.reset_index(drop=True, inplace=True)
print('Shape After Dropping Unknown Sex:', df.shape)

Shape Before Dropping Unknown Sex: (7679, 28)
Shape After Dropping Unknown Sex: (7678, 28)

In [12]:
# count values in race column
df['Race'].value_counts()

White              5810
Hispanic, White     934
Black               770
Hispanic, Black      39
Unknown              33
Asian, Other         27
Other                21
Asian, Indian        19
Hawaiian              1
Native American       1
Name: Race, dtype: int64

In [13]:
# define a function to classify values in race column into 4 categories
def categorise_race(x):
    
    race_dictionary = {'White': ['White'], 
                       'Black': ['Black'],  
                       'Asian': ['Asian, Other', 'Asian, Indian'], 
                       'Hispanic': ['Hispanic, White', 'Hispanic, Black'], 
                       'Rest': ['Native American', 'Hawaiian', 'Other', 'Unknown']}
    
    for category, race in race_dictionary.items():
        
        if x in race:
            
            return category

In [14]:
# apply the function
df['Race'] = df['Race'].apply(categorise_race)
df['Race'].value_counts()

White       5810
Hispanic     973
Black        770
Rest          56
Asian         46
Name: Race, dtype: int64

In [15]:
# count values in death_place column
df['Death_Place'].value_counts()

Residence              4039
Hospital               2332
Other                   964
Hotel/Motel             196
Vehicle/Parking Lot      76
Park/Street              41
Nursing Home              4
Convalescent Home         3
Hospice                   2
Name: Death_Place, dtype: int64

In [16]:
# classify values in death_place column into 6 categories
key_places = ['Residence', 'Hospital', 'Hotel/Motel', 'Vehicle/Parking Lot', 'Park/Street', 'Other']
df['Death_Place'] = df['Death_Place'].apply(lambda x: 'Other' if (pd.notna(x) and x not in key_places) else x)
df['Death_Place'].value_counts()

Residence              4039
Hospital               2332
Other                   973
Hotel/Motel             196
Vehicle/Parking Lot      76
Park/Street              41
Name: Death_Place, dtype: int64

In [17]:
# count values in injury_place column
df['Injury_Place'].value_counts()

Residence                       5917
Hotel/Motel                      387
Other                            356
Unknown                          248
Vehicle/Parking Lot              247
Park/Street                      151
Halfway House                     48
Other, Indoor Area                26
Restaurant                        25
Store or Shopping Area            15
Other, Public Buildings           14
Building                          13
Nursing Home                      12
Driveway                          12
Stairs                            10
Hospital                          10
Alleyway                           8
Gas Station                        7
Office Building                    7
Shed                               6
Roadway                            6
Penal Institution                  6
Train or Subway Station            5
Bar or Night Club                  5
Field                              4
Casino                             4
Boat or Marina                     4
Other, Industrial Area             4
Vacant Building                    3
Railroad Track                     3
Detoxification Center              3
Cemetery                           3
Movie House or Theatre             2
Friend's Residence                 2
Convenience Store                  2
Beach                              2
Shopping Center                    2
Police Station                     2
Warehouse                          2
School, Primary or Secondary       2
Church                             2
University or College              2
Rest Home                          1
Sober House                        1
Family Residence                   1
Rehab House                        1
Other, Farm or Ranch               1
River, Stream or Canal             1
Multiple Locations                 1
Relative's Home                    1
Lake or Pond                       1
Homeless Shelter                   1
Name: Injury_Place, dtype: int64

In [18]:
# classify values in injury_place column into 6 categories
key_places = ['Residence', 'Hospital', 'Hotel/Motel', 'Vehicle/Parking Lot', 'Park/Street', 'Other']
df['Injury_Place'] = df['Injury_Place'].apply(lambda x: 'Other' if (pd.notna(x) and x not in key_places) else x)
df['Injury_Place'].value_counts()

Residence              5917
Other                   887
Hotel/Motel             387
Vehicle/Parking Lot     247
Park/Street             151
Hospital                 10
Name: Injury_Place, dtype: int64

In [19]:
# fill null values in named drug columns and any_opioid column with 'N'
drugs = list(df.loc[:, 'Heroin':'Xylazine'].columns) + ['Any_Opioid']
for drug in drugs:
    df[drug].fillna('N', inplace=True)

In [20]:
# fill null values in these 3 columns with an arbitrary string value for the check_drugs function
df['Death_Cause'].fillna('Nil', inplace=True)
df['Other_Significant_Conditions'].fillna('Nil', inplace=True)
df['Other_Drug'].fillna('Nil', inplace=True)

# create new columns for specific drugs for the check_drugs function
df['Buprenorphine'] = 'N'
df['Phencyclidine'] = 'N'
df['Codeine'] = 'N'

# the drugs that are found to be in the system of the victim after death are given in the following 3 columns:
#    1) Death_Cause, 2) Other_Significant_Conditions, 3) Other_Drug
# define a function to check that the appropriate named drug column has been indicated with a 'Y' 
#    if that drug is found to be present in the system of the victim
def check_drugs(row):
    
    search_dictionary = {'Heroin': ['heroin', 'diamorphine', 'diacetylmorphine'], 
                         'Cocaine': ['cocaine', 'coke', 'blow', 'crack'], 
                         'Fentanyl': ['fentanyl'], 
                         'Any_Fentanyl_Analogue': ['yl fentanyl', 'ylfentanyl'], 
                         'Oxycodone': ['oxycod'], 
                         'Oxymorphone': ['oxymor'], 
                         'Ethanol': ['ethanol', 'alcohol'], 
                         'Hydrocodone': ['hydrocod'], 
                         'Any_Benzodiazepine': ['benzo'], 
                         'Methadone': ['methadone'], 
                         'Any_Amphetamine': ['amphetamine', 'mdma'], 
                         'Tramadol': ['tramad'], 
                         'Morphine_Not_Heroin': ['morphine'], 
                         'Hydromorphone': ['hydromor'], 
                         'Xylazine': ['xylazine'], 
                         'Buprenorphine': ['bupre'], 
                         'Phencyclidine': ['phencyclidine', 'pcp'], 
                         'Codeine': ['codeine']}
    
    for drug, terms in search_dictionary.items():
        
        for term in terms:
            
            for col in ['Death_Cause', 'Other_Significant_Conditions', 'Other_Drug']:
                
                if term in row[col].lower():
                    
                    row[drug] = 'Y'
    
    return row

In [21]:
# apply the function
df = df.apply(check_drugs, axis=1)
df.head()

,Date,Age,Sex,Race,Death_City,Death_County,Death_Place,Injury_Place,Death_Cause,Other_Significant_Conditions,Heroin,Cocaine,Fentanyl,Any_Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Any_Benzodiazepine,Methadone,Any_Amphetamine,Tramadol,Morphine_Not_Heroin,Hydromorphone,Xylazine,Other_Drug,Any_Opioid,Death_City_Geo,Buprenorphine,Phencyclidine,Codeine
0,07/17/2012,34.0,Female,White,DANBURY,FAIRFIELD,Park/Street,Other,"1,1-Difluoroethane Toxicity",Nil,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Duster,N,"DANBURY, CT\n(41.393666, -73.451539)",N,N,N
1,10/1/2012,51.0,Male,White,PORTLAND,MIDDLESEX,Residence,Residence,Heroin Toxicity,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Nil,N,"PORTLAND, CT\n(41.581345, -72.634112)",N,N,N
2,04/28/2013,28.0,Male,White,HARTFORD,HARTFORD,Hospital,Other,Acute Heroin Toxicity,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Nil,N,"HARTFORD, CT\n(41.765775, -72.673356)",N,N,N
3,4/6/2014,46.0,Male,White,TORRINGTON,LITCHFIELD,Residence,Other,Heroin and Cocaine Intoxication,Nil,Y,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,Nil,N,"TORRINGTON, CT\n(41.812186, -73.101552)",N,N,N
4,04/27/2014,52.0,Male,White,NEW LONDON,NEW LONDON,Hospital,Other,Acute Heroin Intoxication,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Nil,N,"NEW LONDON, CT\n(41.355167, -72.099561)",N,N,N

In [22]:
# convert values in other_drug column to indicate presence or absence
df['Other_Drug'] = df['Other_Drug'].apply(lambda x: 'N' if x == 'Nil' else 'Y')

In [23]:
# the any_opioid column is a column that summarises if 
#    at least 1 opioid is found to be present in the system of the victim
# define a function to check that the any_opioid column has been indicated with a 'Y' 
#    if at least 1 of the opioid drug column has been filled with a 'Y'
def any_opioid(row):
    
    opioids = ['Heroin', 'Fentanyl', 'Any_Fentanyl_Analogue', 'Oxycodone', 'Oxymorphone', 'Hydrocodone', 
               'Methadone', 'Tramadol', 'Morphine_Not_Heroin', 'Hydromorphone', 'Buprenorphine', 'Codeine']
    
    for opioid in opioids:
        
        if row[opioid] == 'Y':
            
            row['Any_Opioid'] = 'Y'
    
    return row

In [24]:
# apply the function
df = df.apply(any_opioid, axis=1)
df.head()

,Date,Age,Sex,Race,Death_City,Death_County,Death_Place,Injury_Place,Death_Cause,Other_Significant_Conditions,Heroin,Cocaine,Fentanyl,Any_Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Any_Benzodiazepine,Methadone,Any_Amphetamine,Tramadol,Morphine_Not_Heroin,Hydromorphone,Xylazine,Other_Drug,Any_Opioid,Death_City_Geo,Buprenorphine,Phencyclidine,Codeine
0,07/17/2012,34.0,Female,White,DANBURY,FAIRFIELD,Park/Street,Other,"1,1-Difluoroethane Toxicity",Nil,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,"DANBURY, CT\n(41.393666, -73.451539)",N,N,N
1,10/1/2012,51.0,Male,White,PORTLAND,MIDDLESEX,Residence,Residence,Heroin Toxicity,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"PORTLAND, CT\n(41.581345, -72.634112)",N,N,N
2,04/28/2013,28.0,Male,White,HARTFORD,HARTFORD,Hospital,Other,Acute Heroin Toxicity,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"HARTFORD, CT\n(41.765775, -72.673356)",N,N,N
3,4/6/2014,46.0,Male,White,TORRINGTON,LITCHFIELD,Residence,Other,Heroin and Cocaine Intoxication,Nil,Y,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"TORRINGTON, CT\n(41.812186, -73.101552)",N,N,N
4,04/27/2014,52.0,Male,White,NEW LONDON,NEW LONDON,Hospital,Other,Acute Heroin Intoxication,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"NEW LONDON, CT\n(41.355167, -72.099561)",N,N,N

In [25]:
# create an other_opioid column for the other_opioid function
df['Other_Opioid'] = 'N'

# the other_opioid column is a column that summarises if 
#    at least 1 opioid is found to be present in the system of the victim 
#    but it is not any of the named opioids in the dataset
# define a function to check that the other_opioid column has been indicated with a 'Y' 
#    if the any_opioid drug column has been filled with a 'Y'
#    but none of the opioid drug columns has been filled with a 'Y'
def other_opioid(row):
    
    opioids = ['Heroin', 'Fentanyl', 'Any_Fentanyl_Analogue', 'Oxycodone', 'Oxymorphone', 'Hydrocodone', 
               'Methadone', 'Tramadol', 'Morphine_Not_Heroin', 'Hydromorphone', 'Buprenorphine', 'Codeine']
    
    if (row['Any_Opioid'] == 'Y') and \
    (row['Heroin'] == 'N') and (row['Fentanyl'] == 'N') and (row['Any_Fentanyl_Analogue'] == 'N') and \
    (row['Oxycodone'] == 'N') and (row['Oxymorphone'] == 'N') and (row['Hydrocodone'] == 'N') and \
    (row['Methadone'] == 'N') and (row['Tramadol'] == 'N') and (row['Morphine_Not_Heroin'] == 'N') and \
    (row['Hydromorphone'] == 'N') and (row['Buprenorphine'] == 'N') and (row['Codeine'] == 'N'):
        
        row['Other_Opioid'] = 'Y'
            
    return row

In [26]:
# apply the function
df = df.apply(other_opioid, axis=1)
df.head()

,Date,Age,Sex,Race,Death_City,Death_County,Death_Place,Injury_Place,Death_Cause,Other_Significant_Conditions,Heroin,Cocaine,Fentanyl,Any_Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Any_Benzodiazepine,Methadone,Any_Amphetamine,Tramadol,Morphine_Not_Heroin,Hydromorphone,Xylazine,Other_Drug,Any_Opioid,Death_City_Geo,Buprenorphine,Phencyclidine,Codeine,Other_Opioid
0,07/17/2012,34.0,Female,White,DANBURY,FAIRFIELD,Park/Street,Other,"1,1-Difluoroethane Toxicity",Nil,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,"DANBURY, CT\n(41.393666, -73.451539)",N,N,N,N
1,10/1/2012,51.0,Male,White,PORTLAND,MIDDLESEX,Residence,Residence,Heroin Toxicity,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"PORTLAND, CT\n(41.581345, -72.634112)",N,N,N,N
2,04/28/2013,28.0,Male,White,HARTFORD,HARTFORD,Hospital,Other,Acute Heroin Toxicity,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"HARTFORD, CT\n(41.765775, -72.673356)",N,N,N,N
3,4/6/2014,46.0,Male,White,TORRINGTON,LITCHFIELD,Residence,Other,Heroin and Cocaine Intoxication,Nil,Y,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"TORRINGTON, CT\n(41.812186, -73.101552)",N,N,N,N
4,04/27/2014,52.0,Male,White,NEW LONDON,NEW LONDON,Hospital,Other,Acute Heroin Intoxication,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"NEW LONDON, CT\n(41.355167, -72.099561)",N,N,N,N

In [27]:
# show null values
null = pd.DataFrame({'Null Value Count': df.isnull().sum().sort_values(ascending=False), 
                     'Null Value Percentage': df.isnull().mean().round(4).mul(100).sort_values(ascending=False)})
null[null['Null Value Count'] > 0]

              Null Value Count  Null Value Percentage
Death_County              1059                  13.79
Injury_Place                79                   1.03
Race                        23                   0.30
Death_Place                 21                   0.27
Sex                         11                   0.14
Death_City                   4                   0.05
Age                          3                   0.04
Date                         2                   0.03

**Action:**
- Drop rows with null values in `Date`, `Age`, `Sex`, `Race`, and `Death_City`
- Fill null values with an appropriate string value in `Death_Place` and `Injury_Place`
- Impute null values in `Death_County` based on `Death_City`

In [28]:
# drop rows with null values in these 5 columns
# dropping is done since it only results in a small data loss (0.41% here)
print('Shape Before Dropping Null Values:', df.shape)
df.dropna(subset=['Date', 'Age', 'Sex', 'Race', 'Death_City'], inplace=True)
df.reset_index(drop=True, inplace=True)
print('Shape After Dropping Null Values:', df.shape)

Shape Before Dropping Null Values: (7678, 32)
Shape After Dropping Null Values: (7646, 32)

In [29]:
# fill null values with an appropriate string value in these 2 columns
df['Death_Place'].fillna('Unknown', inplace=True)
df['Injury_Place'].fillna('Unknown', inplace=True)

In [30]:
# import external dataset containing the cities and counties in connecticut to help with the
#    imputation of null values in death_county column based on values in death_city column
ct = pd.read_csv('../data/connecticut.csv')

# uppercase every string value in dataframe
ct = ct.applymap(lambda x: x.upper())
ct

              City      County
0          ANDOVER     TOLLAND
1          ANSONIA   NEW HAVEN
2          ASHFORD     WINDHAM
3             AVON    HARTFORD
4      BARKHAMSTED  LITCHFIELD
..             ...         ...
164  WINDSOR LOCKS    HARTFORD
165        WOLCOTT   NEW HAVEN
166     WOODBRIDGE   NEW HAVEN
167       WOODBURY  LITCHFIELD
168      WOODSTOCK     WINDHAM

[169 rows x 2 columns]

In [31]:
# convert dataframe into a dictionary comprising a list of the cities and a list of the counties
ct_dictionary = ct.to_dict(orient='list')
ct_dictionary

{'City': ['ANDOVER',
  'ANSONIA',
  'ASHFORD',
  'AVON',
  'BARKHAMSTED',
  'BEACON FALLS',
  'BERLIN',
  'BETHANY',
  'BETHEL',
  'BETHLEHEM',
  'BLOOMFIELD',
  'BOLTON',
  'BOZRAH',
  'BRANFORD',
  'BRIDGEPORT',
  'BRIDGEWATER',
  'BRISTOL',
  'BROOKFIELD',
  'BROOKLYN',
  'BURLINGTON',
  'CANAAN',
  'CANTERBURY',
  'CANTON',
  'CHAPLIN',
  'CHESHIRE',
  'CHESTER',
  'CLINTON',
  'COLCHESTER',
  'COLEBROOK',
  'COLUMBIA',
  'CORNWALL',
  'COVENTRY',
  'CROMWELL',
  'DANBURY',
  'DARIEN',
  'DEEP RIVER',
  'DERBY',
  'DURHAM',
  'EAST GRANBY',
  'EAST HADDAM',
  'EAST HAMPTON',
  'EAST HARTFORD',
  'EAST HAVEN',
  'EAST LYME',
  'EAST WINDSOR',
  'EASTFORD',
  'EASTON',
  'ELLINGTON',
  'ENFIELD',
  'ESSEX',
  'FAIRFIELD',
  'FARMINGTON',
  'FRANKLIN',
  'GLASTONBURY',
  'GOSHEN',
  'GRANBY',
  'GREENWICH',
  'GRISWOLD',
  'GROTON',
  'GUILFORD',
  'HADDAM',
  'HAMDEN',
  'HAMPTON',
  'HARTFORD',
  'HARTLAND',
  'HARWINTON',
  'HEBRON',
  'KENT',
  'KILLINGLY',
  'KILLINGWORTH',
  'LEBANON',
  'LEDYARD',
  'LISBON',
  'LITCHFIELD',
  'LYME',
  'MADISON',
  'MANCHESTER',
  'MANSFIELD',
  'MARLBOROUGH',
  'MERIDEN',
  'MIDDLEBURY',
  'MIDDLEFIELD',
  'MIDDLETOWN',
  'MILFORD',
  'MONROE',
  'MONTVILLE',
  'MORRIS',
  'NAUGATUCK',
  'NEW BRITAIN',
  'NEW CANAAN',
  'NEW FAIRFIELD',
  'NEW HARTFORD',
  'NEW HAVEN',
  'NEW LONDON',
  'NEW MILFORD',
  'NEWINGTON',
  'NEWTOWN',
  'NORFOLK',
  'NORTH BRANFORD',
  'NORTH CANAAN',
  'NORTH HAVEN',
  'NORTH STONINGTON',
  'NORWALK',
  'NORWICH',
  'OLD LYME',
  'OLD SAYBROOK',
  'ORANGE',
  'OXFORD',
  'PLAINFIELD',
  'PLAINVILLE',
  'PLYMOUTH',
  'POMFRET',
  'PORTLAND',
  'PRESTON',
  'PROSPECT',
  'PUTNAM',
  'REDDING',
  'RIDGEFIELD',
  'ROCKY HILL',
  'ROXBURY',
  'SALEM',
  'SALISBURY',
  'SCOTLAND',
  'SEYMOUR',
  'SHARON',
  'SHELTON',
  'SHERMAN',
  'SIMSBURY',
  'SOMERS',
  'SOUTH WINDSOR',
  'SOUTHBURY',
  'SOUTHINGTON',
  'SPRAGUE',
  'STAFFORD',
  'STAMFORD',
  'STERLING',
  'STONINGTON',
  'STRATFORD',
  'SUFFIELD',
  'THOMASTON',
  'THOMPSON',
  'TOLLAND',
  'TORRINGTON',
  'TRUMBULL',
  'UNION',
  'VERNON',
  'VOLUNTOWN',
  'WALLINGFORD',
  'WARREN',
  'WASHINGTON',
  'WATERBURY',
  'WATERFORD',
  'WATERTOWN',
  'WEST HARTFORD',
  'WEST HAVEN',
  'WESTBROOK',
  'WESTON',
  'WESTPORT',
  'WETHERSFIELD',
  'WILLINGTON',
  'WILTON',
  'WINCHESTER',
  'WINDHAM',
  'WINDSOR',
  'WINDSOR LOCKS',
  'WOLCOTT',
  'WOODBRIDGE',
  'WOODBURY',
  'WOODSTOCK'],
 'County': ['TOLLAND',
  'NEW HAVEN',
  'WINDHAM',
  'HARTFORD',
  'LITCHFIELD',
  'NEW HAVEN',
  'HARTFORD',
  'NEW HAVEN',
  'FAIRFIELD',
  'LITCHFIELD',
  'HARTFORD',
  'TOLLAND',
  'NEW LONDON',
  'NEW HAVEN',
  'FAIRFIELD',
  'LITCHFIELD',
  'HARTFORD',
  'FAIRFIELD',
  'WINDHAM',
  'HARTFORD',
  'LITCHFIELD',
  'WINDHAM',
  'HARTFORD',
  'WINDHAM',
  'NEW HAVEN',
  'MIDDLESEX',
  'MIDDLESEX',
  'NEW LONDON',
  'LITCHFIELD',
  'TOLLAND',
  'LITCHFIELD',
  'TOLLAND',
  'MIDDLESEX',
  'FAIRFIELD',
  'FAIRFIELD',
  'MIDDLESEX',
  'NEW HAVEN',
  'MIDDLESEX',
  'HARTFORD',
  'MIDDLESEX',
  'MIDDLESEX',
  'HARTFORD',
  'NEW HAVEN',
  'NEW LONDON',
  'HARTFORD',
  'WINDHAM',
  'FAIRFIELD',
  'TOLLAND',
  'HARTFORD',
  'MIDDLESEX',
  'FAIRFIELD',
  'HARTFORD',
  'NEW LONDON',
  'HARTFORD',
  'LITCHFIELD',
  'HARTFORD',
  'FAIRFIELD',
  'NEW LONDON',
  'NEW LONDON',
  'NEW HAVEN',
  'MIDDLESEX',
  'NEW HAVEN',
  'WINDHAM',
  'HARTFORD',
  'HARTFORD',
  'LITCHFIELD',
  'TOLLAND',
  'LITCHFIELD',
  'WINDHAM',
  'MIDDLESEX',
  'NEW LONDON',
  'NEW LONDON',
  'NEW LONDON',
  'LITCHFIELD',
  'NEW LONDON',
  'NEW HAVEN',
  'HARTFORD',
  'TOLLAND',
  'HARTFORD',
  'NEW HAVEN',
  'NEW HAVEN',
  'MIDDLESEX',
  'MIDDLESEX',
  'NEW HAVEN',
  'FAIRFIELD',
  'NEW LONDON',
  'LITCHFIELD',
  'NEW HAVEN',
  'HARTFORD',
  'FAIRFIELD',
  'FAIRFIELD',
  'LITCHFIELD',
  'NEW HAVEN',
  'NEW LONDON',
  'LITCHFIELD',
  'HARTFORD',
  'FAIRFIELD',
  'LITCHFIELD',
  'NEW HAVEN',
  'LITCHFIELD',
  'NEW HAVEN',
  'NEW LONDON',
  'FAIRFIELD',
  'NEW LONDON',
  'NEW LONDON',
  'MIDDLESEX',
  'NEW HAVEN',
  'NEW HAVEN',
  'WINDHAM',
  'HARTFORD',
  'LITCHFIELD',
  'WINDHAM',
  'MIDDLESEX',
  'NEW LONDON',
  'NEW HAVEN',
  'WINDHAM',
  'FAIRFIELD',
  'FAIRFIELD',
  'HARTFORD',
  'LITCHFIELD',
  'NEW LONDON',
  'LITCHFIELD',
  'WINDHAM',
  'NEW HAVEN',
  'LITCHFIELD',
  'FAIRFIELD',
  'FAIRFIELD',
  'HARTFORD',
  'TOLLAND',
  'HARTFORD',
  'NEW HAVEN',
  'HARTFORD',
  'NEW LONDON',
  'TOLLAND',
  'FAIRFIELD',
  'WINDHAM',
  'NEW LONDON',
  'FAIRFIELD',
  'HARTFORD',
  'LITCHFIELD',
  'WINDHAM',
  'TOLLAND',
  'LITCHFIELD',
  'FAIRFIELD',
  'TOLLAND',
  'TOLLAND',
  'NEW LONDON',
  'NEW HAVEN',
  'LITCHFIELD',
  'LITCHFIELD',
  'NEW HAVEN',
  'NEW LONDON',
  'LITCHFIELD',
  'HARTFORD',
  'NEW HAVEN',
  'MIDDLESEX',
  'FAIRFIELD',
  'FAIRFIELD',
  'HARTFORD',
  'TOLLAND',
  'FAIRFIELD',
  'LITCHFIELD',
  'WINDHAM',
  'HARTFORD',
  'HARTFORD',
  'NEW HAVEN',
  'NEW HAVEN',
  'LITCHFIELD',
  'WINDHAM']}

In [32]:
# define a function to impute null values in death_county column based on values in death_city column
def impute_county(row):
    
    if pd.isna(row['Death_County']):
        
        city = row['Death_City']
        index = ct_dictionary['City'].index(city)
        row['Death_County'] = ct_dictionary['County'][index]
    
    return row

In [33]:
# apply the function
df = df.apply(impute_county, axis=1)
df.head()

,Date,Age,Sex,Race,Death_City,Death_County,Death_Place,Injury_Place,Death_Cause,Other_Significant_Conditions,Heroin,Cocaine,Fentanyl,Any_Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Any_Benzodiazepine,Methadone,Any_Amphetamine,Tramadol,Morphine_Not_Heroin,Hydromorphone,Xylazine,Other_Drug,Any_Opioid,Death_City_Geo,Buprenorphine,Phencyclidine,Codeine,Other_Opioid
0,07/17/2012,34.0,Female,White,DANBURY,FAIRFIELD,Park/Street,Other,"1,1-Difluoroethane Toxicity",Nil,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,"DANBURY, CT\n(41.393666, -73.451539)",N,N,N,N
1,10/1/2012,51.0,Male,White,PORTLAND,MIDDLESEX,Residence,Residence,Heroin Toxicity,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"PORTLAND, CT\n(41.581345, -72.634112)",N,N,N,N
2,04/28/2013,28.0,Male,White,HARTFORD,HARTFORD,Hospital,Other,Acute Heroin Toxicity,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"HARTFORD, CT\n(41.765775, -72.673356)",N,N,N,N
3,4/6/2014,46.0,Male,White,TORRINGTON,LITCHFIELD,Residence,Other,Heroin and Cocaine Intoxication,Nil,Y,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"TORRINGTON, CT\n(41.812186, -73.101552)",N,N,N,N
4,04/27/2014,52.0,Male,White,NEW LONDON,NEW LONDON,Hospital,Other,Acute Heroin Intoxication,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"NEW LONDON, CT\n(41.355167, -72.099561)",N,N,N,N

In [34]:
# check for null values
df.isnull().sum().to_frame().T

,Date,Age,Sex,Race,Death_City,Death_County,Death_Place,Injury_Place,Death_Cause,Other_Significant_Conditions,Heroin,Cocaine,Fentanyl,Any_Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Any_Benzodiazepine,Methadone,Any_Amphetamine,Tramadol,Morphine_Not_Heroin,Hydromorphone,Xylazine,Other_Drug,Any_Opioid,Death_City_Geo,Buprenorphine,Phencyclidine,Codeine,Other_Opioid
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [35]:
# convert date column to datetime
df['Date'] = pd.to_datetime(df['Date'])
df.sort_values('Date', inplace=True)
df.reset_index(drop=True, inplace=True)

In [36]:
# correct data types of columns
for col in ['Age']:
    df[col] = df[col].astype('int')

In [37]:
# check out data types of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7646 entries, 0 to 7645
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          7646 non-null   datetime64[ns]
 1   Age                           7646 non-null   int64
 2   Sex                           7646 non-null   object
 3   Race                          7646 non-null   object
 4   Death_City                    7646 non-null   object
 5   Death_County                  7646 non-null   object
 6   Death_Place                   7646 non-null   object
 7   Injury_Place                  7646 non-null   object
 8   Death_Cause                   7646 non-null   object
 9   Other_Significant_Conditions  7646 non-null   object
 10  Heroin                        7646 non-null   object
 11  Cocaine                       7646 non-null   object
 12  Fentanyl                      7646 non-null   object
 13  Any_Fentanyl_Analogue         7646 non-null   object
 14  Oxycodone                     7646 non-null   object
 15  Oxymorphone                   7646 non-null   object
 16  Ethanol                       7646 non-null   object
 17  Hydrocodone                   7646 non-null   object
 18  Any_Benzodiazepine            7646 non-null   object
 19  Methadone                     7646 non-null   object
 20  Any_Amphetamine               7646 non-null   object
 21  Tramadol                      7646 non-null   object
 22  Morphine_Not_Heroin           7646 non-null   object
 23  Hydromorphone                 7646 non-null   object
 24  Xylazine                      7646 non-null   object
 25  Other_Drug                    7646 non-null   object
 26  Any_Opioid                    7646 non-null   object
 27  Death_City_Geo                7646 non-null   object
 28  Buprenorphine                 7646 non-null   object
 29  Phencyclidine                 7646 non-null   object
 30  Codeine                       7646 non-null   object
 31  Other_Opioid                  7646 non-null   object
dtypes: datetime64[ns](1), int64(1), object(30)
memory usage: 1.9+ MB

In [38]:
# check that numerical columns are within reasonable min and max values
df.describe().loc[['min', 'max']]

      Age
min  14.0
max  87.0

In [39]:
# check that categorical columns have logical unique values
df.describe(include=['object']).loc[['unique']]

,Sex,Race,Death_City,Death_County,Death_Place,Injury_Place,Death_Cause,Other_Significant_Conditions,Heroin,Cocaine,Fentanyl,Any_Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Any_Benzodiazepine,Methadone,Any_Amphetamine,Tramadol,Morphine_Not_Heroin,Hydromorphone,Xylazine,Other_Drug,Any_Opioid,Death_City_Geo,Buprenorphine,Phencyclidine,Codeine,Other_Opioid
unique,2,5,223,8,7,7,4969,214,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,405,2,2,2,2

### Feature Engineering

In [40]:
# define a function to calculate the number of drugs found in the victim as mentioned in the cause of death
def find_num_drugs(row):
    
    num = 0
    
    if row['Death_Cause'].lower().count(', and') == 1:
        
        num = num + row['Death_Cause'].lower().count(',') + 1
        
    elif (row['Death_Cause'].lower().count(',') >= 1) or (row['Death_Cause'].lower().count('and') >= 1):
        
        num = num + row['Death_Cause'].lower().count(',') + row['Death_Cause'].lower().count('and') + 1
        
    else:
        
        num = 1
    
    row['Num_Drugs'] = num
    
    return row

In [41]:
# apply the function
df = df.apply(find_num_drugs, axis=1)
df.head()

,Date,Age,Sex,Race,Death_City,Death_County,Death_Place,Injury_Place,Death_Cause,Other_Significant_Conditions,Heroin,Cocaine,Fentanyl,Any_Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Any_Benzodiazepine,Methadone,Any_Amphetamine,Tramadol,Morphine_Not_Heroin,Hydromorphone,Xylazine,Other_Drug,Any_Opioid,Death_City_Geo,Buprenorphine,Phencyclidine,Codeine,Other_Opioid,Num_Drugs
0,2012-01-01,35,Male,White,HEBRON,TOLLAND,Residence,Residence,Cocaine and Heroin Toxicity,Nil,Y,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"HEBRON, CT\n(41.658069, -72.366324)",N,N,N,N,2
1,2012-01-03,41,Male,White,BRISTOL,HARTFORD,Hospital,Residence,Multiple Drug Toxicity,Nil,Y,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,Y,"BRISTOL, CT\n(41.673037, -72.945791)",N,N,N,N,1
2,2012-01-04,61,Male,Black,DANBURY,FAIRFIELD,Hospital,Other,Cocaine Toxicity,Nil,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,"DANBURY, CT\n(41.393666, -73.451539)",N,N,N,N,1
3,2012-01-05,51,Male,White,BRIDGEPORT,FAIRFIELD,Other,Residence,Methadone Toxicity,Nil,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,Y,"BRIDGEPORT, CT\n(41.179195, -73.189476)",N,N,N,N,1
4,2012-01-07,45,Male,White,HARTFORD,HARTFORD,Residence,Residence,Heroin Toxicity,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"HARTFORD, CT\n(41.765775, -72.673356)",N,N,N,N,1

In [42]:
# define a function to calculate the number of significant conditions that the victim has
def find_num_conditions(row):
    
    num = 0
    
    if row['Other_Significant_Conditions'] != 'Nil':
        
        if row['Other_Significant_Conditions'].lower().count(', and') == 1:
            
            num = num + row['Other_Significant_Conditions'].lower().count(',') + 1
        
        elif (row['Other_Significant_Conditions'].lower().count(',') >= 1) or \
        (row['Other_Significant_Conditions'].lower().count('and') >= 1):
                
                num = num + row['Other_Significant_Conditions'].lower().count(',') + \
                row['Other_Significant_Conditions'].lower().count('and') + 1
        
        else:
            
            num = 1
    
    row['Num_Conditions'] = num
    
    return row

In [43]:
# apply the function
df = df.apply(find_num_conditions, axis=1)
df.head()

,Date,Age,Sex,Race,Death_City,Death_County,Death_Place,Injury_Place,Death_Cause,Other_Significant_Conditions,Heroin,Cocaine,Fentanyl,Any_Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Any_Benzodiazepine,Methadone,Any_Amphetamine,Tramadol,Morphine_Not_Heroin,Hydromorphone,Xylazine,Other_Drug,Any_Opioid,Death_City_Geo,Buprenorphine,Phencyclidine,Codeine,Other_Opioid,Num_Drugs,Num_Conditions
0,2012-01-01,35,Male,White,HEBRON,TOLLAND,Residence,Residence,Cocaine and Heroin Toxicity,Nil,Y,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"HEBRON, CT\n(41.658069, -72.366324)",N,N,N,N,2,0
1,2012-01-03,41,Male,White,BRISTOL,HARTFORD,Hospital,Residence,Multiple Drug Toxicity,Nil,Y,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,Y,"BRISTOL, CT\n(41.673037, -72.945791)",N,N,N,N,1,0
2,2012-01-04,61,Male,Black,DANBURY,FAIRFIELD,Hospital,Other,Cocaine Toxicity,Nil,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,"DANBURY, CT\n(41.393666, -73.451539)",N,N,N,N,1,0
3,2012-01-05,51,Male,White,BRIDGEPORT,FAIRFIELD,Other,Residence,Methadone Toxicity,Nil,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,Y,"BRIDGEPORT, CT\n(41.179195, -73.189476)",N,N,N,N,1,0
4,2012-01-07,45,Male,White,HARTFORD,HARTFORD,Residence,Residence,Heroin Toxicity,Nil,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,"HARTFORD, CT\n(41.765775, -72.673356)",N,N,N,N,1,0

In [44]:
# drop these 3 columns as they are now unneeded
df.drop(columns=['Death_Cause', 'Other_Significant_Conditions'], inplace=True)

In [45]:
# create a new column to indicate if death occurred on or after declaration of covid-19 as a pandemic on 11-03-2020
df['Covid_Pandemic'] = np.where(df['Date'] >= '2020-03-11', 'Y', 'N')
df['Covid_Pandemic'].value_counts()

N    6513
Y    1133
Name: Covid_Pandemic, dtype: int64

### Data Exporting

In [46]:
# rearrange columns
df = df[['Date', 'Age', 'Sex', 'Race', 'Death_County', 'Death_City', 'Death_City_Geo', 
         'Death_Place', 'Injury_Place', 
         'Fentanyl', 'Any_Fentanyl_Analogue', 'Buprenorphine', 'Methadone', 
         'Oxymorphone', 'Hydromorphone', 'Oxycodone', 'Hydrocodone', 
         'Heroin', 'Morphine_Not_Heroin', 'Tramadol', 'Codeine',  
         'Ethanol', 'Cocaine', 'Xylazine', 'Phencyclidine', 
         'Any_Benzodiazepine', 'Any_Amphetamine', 'Other_Drug', 'Any_Opioid', 'Other_Opioid', 'Covid_Pandemic', 
         'Num_Drugs', 'Num_Conditions']]

In [47]:
# check out columns
df.head(0)

Empty DataFrame
Columns: [Date, Age, Sex, Race, Death_County, Death_City, Death_City_Geo, Death_Place, Injury_Place, Fentanyl, Any_Fentanyl_Analogue, Buprenorphine, Methadone, Oxymorphone, Hydromorphone, Oxycodone, Hydrocodone, Heroin, Morphine_Not_Heroin, Tramadol, Codeine, Ethanol, Cocaine, Xylazine, Phencyclidine, Any_Benzodiazepine, Any_Amphetamine, Other_Drug, Any_Opioid, Other_Opioid, Covid_Pandemic, Num_Drugs, Num_Conditions]
Index: []

In [48]:
# final show of first 5 rows
df.head()

,Date,Age,Sex,Race,Death_County,Death_City,Death_City_Geo,Death_Place,Injury_Place,Fentanyl,Any_Fentanyl_Analogue,Buprenorphine,Methadone,Oxymorphone,Hydromorphone,Oxycodone,Hydrocodone,Heroin,Morphine_Not_Heroin,Tramadol,Codeine,Ethanol,Cocaine,Xylazine,Phencyclidine,Any_Benzodiazepine,Any_Amphetamine,Other_Drug,Any_Opioid,Other_Opioid,Covid_Pandemic,Num_Drugs,Num_Conditions
0,2012-01-01,35,Male,White,TOLLAND,HEBRON,"HEBRON, CT\n(41.658069, -72.366324)",Residence,Residence,N,N,N,N,N,N,N,N,Y,N,N,N,N,Y,N,N,N,N,N,Y,N,N,2,0
1,2012-01-03,41,Male,White,HARTFORD,BRISTOL,"BRISTOL, CT\n(41.673037, -72.945791)",Hospital,Residence,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,Y,N,N,Y,N,N,1,0
2,2012-01-04,61,Male,Black,FAIRFIELD,DANBURY,"DANBURY, CT\n(41.393666, -73.451539)",Hospital,Other,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,1,0
3,2012-01-05,51,Male,White,FAIRFIELD,BRIDGEPORT,"BRIDGEPORT, CT\n(41.179195, -73.189476)",Other,Residence,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,1,0
4,2012-01-07,45,Male,White,HARTFORD,HARTFORD,"HARTFORD, CT\n(41.765775, -72.673356)",Residence,Residence,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,Y,N,N,1,0

In [49]:
# final show of shape
df.shape

(7646, 33)

In [50]:
# final check for null values
df.isnull().sum().to_frame().T

,Date,Age,Sex,Race,Death_County,Death_City,Death_City_Geo,Death_Place,Injury_Place,Fentanyl,Any_Fentanyl_Analogue,Buprenorphine,Methadone,Oxymorphone,Hydromorphone,Oxycodone,Hydrocodone,Heroin,Morphine_Not_Heroin,Tramadol,Codeine,Ethanol,Cocaine,Xylazine,Phencyclidine,Any_Benzodiazepine,Any_Amphetamine,Other_Drug,Any_Opioid,Other_Opioid,Covid_Pandemic,Num_Drugs,Num_Conditions
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [51]:
# export clean dataframe
df.to_csv('../data/accidental_drug_related_deaths_2012_2020_clean.csv', index=False)

### Data Dictionary

A list of the clean datasets is given below:

* [`accidental_drug_related_deaths_2012_2020_clean.csv`](../data/accidental_drug_related_deaths_2012_2020_clean.csv): Accidental Drug-Related Deaths In Connecticut (2012-2020) Clean Dataset

A description of the variables in the clean datasets is given below:

* Accidental Drug-Related Deaths In Connecticut (2012-2020) Clean Dataset

| Variable | Type | Description |
|:---|:---|:---|
| Date | datetime | Date of death in YYYY-MM-DD |
| Age | integer | Age of victim |
| Sex | object | Sex of victim |
| Race | object | Race of victim |
| Death_County | object | County of death |
| Death_City | object | City of death |
| Death_City_Geo | object | GPS coordinate of death |
| Death_Place | object | Place of death |
| Injury_Place | object | Place of injury (that caused death) |
| Fentanyl | object | Fentanyl found in victim |
| Any_Fentanyl_Analogue | object | Any fentanyl analogue found in victim |
| Buprenorphine | object | Buprenorphine found in victim |
| Methadone | object | Methadone found in victim |
| Oxymorphone | object | Oxymorphone found in victim |
| Hydromorphone | object | Hydromorphone found in victim |
| Oxycodone | object | Oxycodone found in victim |
| Hydrocodone | object | Hydrocodone found in victim |
| Heroin | object | Heroin found in victim |
| Morphine_Not_Heroin | object | Morphine (not heroin) found in victim |
| Tramadol | object | Tramadol found in victim |
| Codeine | object | Codeine found in victim |
| Ethanol | object | Ethanol found in victim |
| Cocaine | object | Cocaine found in victim |
| Xylazine | object | Xylazine found in victim |
| Phencyclidine | object | Phencyclidine found in victim |
| Any_Benzodiazepine | object | Any benzodiazepine found in victim |
| Any_Amphetamine | object | Any amphetamine found in victim |
| Other_Drug | object | Other drug (not stated above) found in victim |
| Any_Opioid | object | Any opioid found in victim |
| Other_Opioid | object | Other opioid (not stated above) found in victim |
| Covid_Pandemic | object | Death occurred on or after declaration of Covid-19 as a pandemic on 11-03-2020 |
| Num_Drugs | integer | Number of named drugs found in victim |
| Num_Conditions | integer | Number of significant conditions that victim has |